@import "./base.css";
html{
  width: 100%;
  height: 100%;
}

body{
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100%;
}

#app {
  margin: 0 2rem;
  padding: 2rem;
  font-weight: normal;
  width: 100%;
  height: 100%;
}
